<html>
<head>
  <title>Weasel programme</title>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
  <h4>Enter test string:</h4>
  <form method="POST">
    <label>Target string</label>
    <input type="text" name="target">
    <label>Chance of mutation</label>
    <input type="number" name="chance">
    <label>Size of each generation</label>
    <input type="number" name="pool_size">
    <input type="submit" value="Submit">
  </form>
</body>
<script>


</script>
</html>
